@media(max-width:992px){
    /* =============banner=========== */
    .text{
        font-size:55px !important ;
    }
    /* ===========value-wrapper============ */
    .color{
        max-width: 74% !important;
    }
    .valu h3{
        max-width: 20%;
    }
    .valu p{
        max-width: 74% !important;
    }
    .valu-2 p{
        max-width: 72% !important;
    }
    .valu-2 h3{
        max-width: 20%;
    }
    /* ==============menu=========== */
    .menu-item h3{
        font-size: 25px;
    }
    .arrow-i{
        margin-right: 20% !important;
    }
    /* =============testimaonial============== */
    .testimaonial-text P{
        max-width: 63%;
    }
    .client-item{
        height: 420px;
    }
    .client-item2{
        height: 450px;
    }
    .client-item3{
        height: 475px;
    }
    /* ===============about=============== */
    .titlee h2{
        font-size: 33px;
        font-weight: 600;
    }
    .titlee p{
        max-width: 90%;
    }
    /* ==============cta-wrapper============ */
    .cta-wrapper p{
        max-width: 64%;
    }
    /* ===============frequently============ */
    .accordion{
        margin-left: 100px;
    }
    .frequen{
        margin-left: 250px;
    }
}
@media(max-width:768px){
    /* ==================banner================= */
    .text{
        font-size:60px !important ;
    }
    /* =================programs============= */
    .data h3{
        padding-bottom:40px !important;
    }
    /* ====================value-wrapper============== */
    .color{
        max-width: 82% !important;
    }
    .valu p{
        max-width: 100% !important;
    }
    .valu-2 p{
        max-width: 100% !important;
    }
    .valu h3{
        max-width: 90% !important;
    }
    .valu-2 h3{
        max-width: 65% !important;
    }
    /* ===================menu================== */
    .menu p{
        max-width: 79% !important;
    }
    .arrow-i{
        margin-right: 42% !important;
    }
    /* ====================Testimonials==================== */
    .client-item{
        width: 650px !important;
        height: 300px !important;
    }
    .client-item2{
        display: none !important;
    }
    .client-item3{
        display: none !important;
    }
    /* ===============about============== */
    .titlee h2{
        padding-top: 20px;
        font-size: 25px;
        font-weight: bold;
    }
    /* ===================cta-wrapper============= */
    .cta-wrapper h2{
        font-size: 27px !important;
    }
    .cta-wrapper p{
        max-width: 85% !important;
    }
    /* ==================Frequently============== */
    .accordion{
        width: 100%;
    }
    .frequen{
        margin-left: 100px;
    }
    .frequen h2{
        max-width: 70%;
    }
    .accordion{
        margin-left: 5px;
        /* margin-right: 20px; */
    }
}
@media(max-width:576px){
    /* ================banner================ */
    .text{
        font-size:70px !important ;
    }
    .banner{
        width: 100% !important;
    }
    /* ====================winner=================== */
    .image{
        height: 100px !important;
        width: 100px !important;
    }
     /* ================programs============= */
     .data h3{
        max-width: 93% !important;
    }
    /* ======================value-wrapper================= */
    .color{
        max-width: 93% !important;
    }
    .valu p{
        max-width: 100% !important;
    }
    .valu-2 h3{
        max-width: 100% !important;
    } 
    /* menu */
    .menu-item2{
        display: none !important;
    }
    /* ====================Testimonials==================== */
    .client-item{
        width: 525px !important;
        height: 300px !important;
    }
    /* ===============about============== */
    .titlee h2{
        font-size: 30px;
    }
    .titlee p{
        max-width: 100%;
    }
    /* ===================cta-wrapper============= */
    .cta-wrapper p{
        max-width: 100% !important;
    }
    .cta{
        height: 450px;
    }
    /* ==================Frequently============== */
    .accordion{
        width: 500px;
    }
    .frequen{
        margin-left: 50px;
    }
    .frequen h2{
        max-width: 400px !important;
    }
    .accordion{
        margin-left: 10px;
        margin-right: 20px;
    }
}
@media(max-width:375px){
    /* ==============header================= */
    header .btnn{
        display: none;
    }
    /* =================banner============ */
    .text{
        max-width: 30%;
        font-size: 40px !important;
    }
    .banner button{
        display: block;
    }
    .text-1{
        max-width: 30%;
    }
    .images{
        height: 458px;
        width: 293px;
    }
    .qeen{
        max-width: 337px;
    }
    /*  ====================winner=============== */
    .winner img{
        display: block;
        margin-left: 100px !important;
    }
    /* ==========================programs=============== */
    .programs-data{
        width: 350px;
    }
    /* ======================value-wrapper================ */
    .wrap{
        width: 300px;
    }
    .apple{
        max-width: 360px;
    }
    .data h2{
        font-size:28px ;
        max-width: 27%;
    }
    .color{
        max-width: 27% !important;
    }
    .value-data{
        display: block !important;
    }
    .valu{
        width: 311px !important;
    }
    .valu-2{
        width: 313px;
    }
    /* =================menu==================== */
    .title h2{
        max-width: 18%;
    }
    .menu p{
        max-width: 30% !important;
    }
    .menu-btn{
        display: block;
        width: 320px !important;
    }
    .menu-food{
        width: 300px;
    }
    .arrow-i{
        margin-right: 79% !important;
    }
    /*  =======================Testimonials================= */
    .title-1{
        margin-right: 65%;
    }
    .client-item{
        width: 350px !important;
        height: 100% !important;
    }
    .testimaonial-text P{
        max-width: 71%;
    }
    .arrow-btn{
        margin-right: 67%;   
    }
    /* =======================about====================== */
    .about img{
        height: 486px;
        width: 337px;
    }
    .gal{
        width: 382px;
    }
    .titlee img{
        margin-left: -3%;
        height: 50px;
        width: 50px;
    }
    .titlee h2{
        max-width: 30%;
    }
    .titlee p{
        margin-left: -10px;
        max-width:32% ;
    }
    .titlee h1{
        margin-left: -20px;
    }
    .tap{
        margin-left: -10px;
        font-size: 10px;
    }
    /* =============================cta-wrapper===================== */
    .cta{
        width: 375px;
        height: 100%;
    }
    .cta-wrapper h2{
        font-size: 25px !important;
    }
    .cta-wrapper p{
        font-size: 17px;
    }
    /* ============================frequently===================== */
    .frequen h2{
        max-width: 30% !important;
    }
    .accordion-item{
        width: 353px !important;
    }
    /* ==============================footer===================== */
    footer{
        width: 100%;
        text-align: start;
    }
    .border-warning{
        width: 280px;
    }
    .fot .logo{
        margin-left: 68px !important;
        width: 13%;
    }
    footer .text-light{
        max-width: 21%;
        margin-left: 37px !important;
    }
    .fot img{
        margin-left: 20px !important;
    }
    .textt{
        margin-left: 5%;
    }
    .fote{
        margin-left: 20px;
        max-width: 20%;
        line-height: 30px;
        text-align: center;
    }
}
@media(max-width:320px){
    /* =================banner============ */
    .text{
        max-width: 26%;
    }
    .text-1{
        max-width: 26%;
    }
    .images{
        height: 418px;
        width: 288px;
    }
    .qeen{
        max-width: 327px;
    }
    /* ==========================programs=============== */
    .programs-data{
        width: 311px;
    }
    /* ======================value-wrapper================ */
    .wrap{
        width: 274px;
    }
    .apple{
        max-width: 322px;
    }
    .data h2{
        max-width: 19%;
    }
    .color{
        max-width: 25% !important;
    }
    .valu{
        width: 250px !important;
    }
    .valu-2{
        width: 250px;
    }
    /* =================menu==================== */
    .menu p{
        max-width: 26% !important;
    }
    .menu-btn{
        width: 278px !important;
    }
    .menu-food{
        width: 270px;
    }
    .arrow-i{
        margin-right: 80% !important;
    }
    /*  =======================Testimonials================= */
    .title-1{
        margin-right: 70%;
    }
    .client-item{
        width: 282px !important;
    }
    .arrow-btn{
        margin-right: 73%;   
    }
    /* =======================about====================== */
    .about img{
        height: 405px;
        width: 276px;
    }
    .gal{
        width: 324px;
    }
    .titlee img{
        margin-left: -3%;
        height: 50px;
        width: 50px;
    }
    .titlee h2{
        max-width: 19%;
    }
    .titlee p{
        margin-left: -20px;
        max-width:27% ;
    }
    .titlee h1{
        margin-left: -33px;
    }
    .tap{
        font-size: 8px;
    }
    /* =============================cta-wrapper===================== */
    .cta{
        width: 319px;
    }
    .cta-wrapper h2{
        font-size: 22px !important;
    }
    .cta-wrapper p{
        font-size: 16px;
    }
    /* =============================frequently================== */
    .frequen h2{
        max-width: 19% !important;
    }
    .accordion-item{
        width: 297px !important;
    }
    /* ==============================footer===================== */
    .border-warning{
        width: 251px;
    }

}