.container{
    width: 1089px;
} 
a{
    text-decoration: none;
}
body{
     font-family: 'Inter',sans-serif;
}
/* ==========================header================= */
.navbar a img{
    width: 100%;
    max-width: 150px;
}
.nav-link{
    color:#fff;
    font-weight: 500; 
    transition: 0.5s;
}
.nav-link:hover{
    color: #ffb708;
}
header{
    background-image: linear-gradient(150deg,#b48aff, #8339fe 60%,#8339fe 95%,#8339fe 54%) !important;
}
/* ========================banner=================== */
.banner{
   background-image: linear-gradient(150deg,#b48aff, #8339fe 28%,#8339fe 54%, #b48aff 81%,#fff) !important;
   width: 100%;
   padding-top:10% ;
}
.text{
    font-size:70px ;
    font-weight: 900;
    margin:10px 0px;
}
.text-1{
    max-width: 66%;
    margin-bottom: 40px;
    font-weight: bold;
}
.btn-outline-warning{
    border: none;
}
.images{
    height: 653px;
    width: 450px;
}
.qeen{
    max-width: 500px;
    z-index: 2;
    box-shadow: 0 50px 100px -20px rgba(131, 57, 254, .5);
    background-image:linear-gradient( #fff, rgba(180, 138, 255, .5) 50%) ;
    border: 25px solid #edf0f5;
    border-radius: 100% 100% 15% 15%;
    outline-width: 20px;
    object-fit: cover;
    object-position: 50% 100%;
    margin-bottom: -50px;
}
.btnn{
    height:50px;
    width: 150px;
    border-radius: 17px;
}
/* =====================winner====================== */
.winner{
    height:100%;
    width: 100%;
    background-image:linear-gradient(90deg, #fff, rgba(180, 138, 255, .5) 50%, #fff) ;
    padding: 40px 0px;
}
.image{
    height: 75px;
    width: 150px;
    margin:20px;
}
/* ======================programs=================== */
.programs .title{
    display: flex;
}
.title img{
    padding: 10px;
} 
.title h2{
    color: #6d549f;
    font-weight: 600;
    padding: 15px 0px;
}
.data img{
    height: 50px;
    width: 50px;
    text-align: center;
}
.data h3{
    margin:20px 10px;
    font-size: 20px;
    font-weight: 700;
}
.programs-data{
    width: 100%;
    box-shadow:0 2px 100px 0 #bfa5ed;
    background-color:#8339fe;
    border:#8339fe 20px solid;
    border-radius:50px;
    border-color: #fff;
    margin: 40px 0px;
}
.data{
    padding: 10px;
    color: #6d549f;
}
.programs-data img{
   justify-content: center;
}
/* =================value-wrapper================ */
.data{
    display: flex;
}
.data h2{
    font-weight: 700;
}
.value-weapper{
    padding: 100px 0px;
}
.wrap{
    width: 100%;
}
.apple{
    z-index: 2;
    box-shadow: 0 70px 100px -30px rgba(131, 57, 254, .5);
    background-image:linear-gradient( #fff, rgba(180, 138, 255, .5) 50%);
    border: 25px solid #edf0f5;
    border-radius: 100% 100% 15% 15%;
    object-fit: cover;
    margin-bottom: 210px;
    margin-top: 50px;
}
.color{
    color: #6d549f;
    max-width: 75%;
}
.valu p{
    max-width: 97%;
}
.valu-2 p{
    max-width: 94%;
}
.valu h3{
    font-size: 20px;
    font-weight: 700;
}
.valu-2 h3{
    font-size: 20px;
    font-weight: 700; 
}
.valu img{
    height: 50px;
    width: 50px;
    margin-top: -45px;
    margin-left: 7%;
}
.valu-2 img{
    height: 50px;
    width: 50px;
    margin-top: -30px;
    margin-left: 10%;
}
.valu{
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #f9f1fd;
    border: 4px solid #edf0f5;
    border-radius: 25px;
    color: #6d549f;
    cursor: pointer;
    padding-left:10px;
    transition: 0.5s;
}
.valu:hover{
    transition: 0.5s;
    background-color: #fff;
    box-shadow:0 1px 10px 5px #dfd5ef;
}
.valu-2{
    margin-right: 5%;
    margin-bottom: 5%;
    background-color:#f9f1fd;
    border: 4px solid #edf0f5;
    border-radius: 25px;
    color: #6d549f;
    padding-left:10px;
}
.valu-2:hover{
    transition: 0.5s;
    background-color: #fff;
    box-shadow:0 1px 10px 5px #dfd5ef;
}
/* =======================menu================ */
.menu{
    padding: 100px 0px;
}
.title h2{
    font-weight: 700;
}
.menu .menu-btn{
    background-color:#f9f1fd;
    border: 5px solid #edf0f5;
    border-radius: 25px;
} 
.menu .dataa img{
    height: 50px;
    width: 50px;
    display: flex;
}
.menu-data button{
    color: #6d549f;
    font-size: 20px;
    font-weight: bold;
}
.menu-data .bttn{
    background-color: #8339fe;
}
.menu-food{
    background-color: #f9f1fd;
    border: 5px solid #edf0f5;
    border-radius: 100px 100px 15px 15px;
    padding: 10px;
}
.menu-item2 img{
    width: 100%;
    height: 200px;
    border: 4px solid #edf0f5;
    object-fit: cover;
    border-radius: 100px 100px 15px 15px;
}
.menu-item2 h3{
    color: #6d549f;
    font-weight: bold;
}
.menu-item img{
    width: 100%;
    height: 200px;
    border: 4px solid #edf0f5;
    object-fit: cover;
    border-radius: 100px 100px 15px 15px;
}
.menu-item h3{
    color: #6d549f;
    font-weight: bold;
} 
.menu p{
    max-width: 42%;
    font-size: 16px;
    color: #6d549f;
}
.menu-btn{
    width: 100%;
}
.menu-btn img{
    width: 50px;
    height: 50px;
}
.arrow-i{
    margin-right: 19% !important;
}
.arrow-i i{
    color: #8339fe;
}
/* ======================Testimonials======================= */
.Testimonials{
    height: 100%;
    background-color: #8339fe;
    padding: 100px 0px;
    
}
.title-1{
    display: flex;
    margin: 0 auto;
}
.title-1 img{
    height: 50px;
    width: 50px;
}
.testimonial-item{
    text-align: center;
}
.client-item{
    height: 350px;
    background-color: #f9f1fd;
    border-radius: 20px;
}
.client-item2{
    height: 360px;
    background-color: #f9f1fd;
    border-radius: 20px;
}
.client-item3{
    height: 400px;
    background-color: #f9f1fd;
    border-radius: 20px;
}
.testimonial-item img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -20px;
}
.testimaonial-text P{
    max-width: 73%;
    margin: 0 auto;
    text-align: center;
}
.testimaonial-text h3{
    color: #8339fe;
    text-align: center;
}
.arrow-btn{
    text-align: center;
    margin-top: 5%;
}
.arrow-btn i{
    color: #8339fe;
}
.arrow i:hover{
    color: #edf0f5 !important;
}
.arrow:hover{
    background-color: #b48aff;
}
.arrow{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}
/* ========================about========================== */
.about img{
    height: 645px;
    width: 450px;
}
.titlee{
    padding: 100px 0px;
}
.gal{
    min-height: 450px;
    max-width: 500px;
    z-index: 2;
    box-shadow: 0 70px 100px -30px rgba(131, 57, 254, .5);
    background-image:linear-gradient( #fff, rgba(180, 138, 255, .5) 50%);
    border: 25px solid #edf0f5;
    border-radius: 100% 100% 15% 15%;
    outline-width: 20px;
    object-fit: cover;
    object-position: 50% 100%;
}
.titlee img{
    height: 50px;
    width: 50px;
    margin: 15px;
}
.titlee h2{
    color:#6d549f ;
    font-size: 30px;
    font-weight: 700;
}
.titlee p{
    color: #6d549f;
    max-width: 93%;
    font-size: 18px;
}
.titlee h1{
    color:#6d549f ;
    font-size: 30px;
    font-weight: 700;
}
.tap{
    font-size: 12px;
    font-weight: 400;
    color: #6d549f;
}
/* =======================cta-wrapper===================== */
.cta-wrapper{
    padding: 100px 0px;
}
.cta{
    background-color: #8339fe;
    box-shadow:0 2px 100px 0 #c4b0e7;
    height: 400px;
    width: 1117px;
    border: 20px solid #edf0f5;
    border-radius: 35px;
    padding: 60px 30px ;
}
.btnn{
    font-size: 18px;
    font-weight: 600;
}
.cta-wrapper img{
    height: 50px;
    width: 50px;
}
.cta-wrapper h2{
    font-size: 30px;
    font-weight: bold;
}
.cta-wrapper p{
    font-size: 18px;
    max-width: 53%;
    margin: 0 auto;   
}
/* ========================frequently===================== */
.frequently{
    padding: 100px 0px;
    background-color: #f9f1fd;
    height: 100%;
    width:100%;
}
.frequen{
    margin-left: 200px;
}
.frequen h2{
    color:#6d549f;
    font-weight:bold;
}
.accordion{
    margin-left: 80px;
    margin-right: 100px;
}
.accordion-item{
    width: 100%;
    border: 5px;
    background-color: #f9f1fd;
    border: 5px solid #edf0f5;
    transition: 0.5s;
}
.accordion-item:hover{
    box-shadow:0 1px 10px 5px #dfd5ef;
    transition: 0.5s;
}
.accordion-body p{
    color: #6d549f;
}
.accordion{
    border-radius: 20px !important;
}
.accordion .accordion-item button{
    color: #6d549f;
    font-weight: bold;
    font-size: 20px;
}
/* ===============================footer===================== */
.fot .logo{
    height: 27px;
    width: 150px;
}
footer{
    width: 100%;
    background-color: #8339fe;
    text-align: center;
}
.fot{
    padding: 60px 40px 20px;
}
.fot img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.textt{
    color: #fff;
    transition: 0.5s;
}
.textt:hover{
    color: #ffb708;
}
.fot p{
    color: #fff;
    cursor: pointer;
    transition: 0.5;
}
.fot p:hover{
    transition: 0.5;
    color: #ffb708;
}
footer a{
    font-size: 12px;
}